.label{
  font-weight:bold;
  

}
.unknown
{
  color:#778899;

}
.badstate
{
  color:red;
}
.goodstate
{
	color:green;
}
.notfound{
	color:black;
}
.alreadyexist
{
	background-color:yellow;
}
body{
	min-width:150px;
}
