.unknown
{
  color:#778899;

}
.badstate
{
  color:red;
}
.goodstate
{
	color:green;
}
.notfound{
	color:black;
}
.alreadyexist
{
	background-color:yellow;
}
li{
	display:inline-block;
}
ul{
	white-space:nowrap;
}
